# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
src/.qmake.cache
src/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
src/moc_*.cpp
src/moc_*.h
src/qrc_*.cpp
src/ui_*.h
*.qmlc
*.jsc
src/Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
src/target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
src/CMakeLists.txt.user*

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

# SpiNNaker
src/reports